.tabs {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  padding-bottom: 0;
  gap: 1.5rem;
  background: rgb(237, 237, 237);
  position: sticky;
  top: 0%;
  li {
    cursor: pointer;
  }
  h5 {
    padding-bottom: 0.5rem;
  }
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  display: none;
  padding: 0;
}
/* Optional: show position indicator in red */

.active {
  width: fit-content;
  border-bottom: 2px solid rgb(233, 0, 0);
  border-radius: 2px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
@media (min-width: 480px) {
  .tabs {
    justify-content: space-around;
    background: rgb(241, 241, 241);
  }
}
