.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100vw / 2), 1fr));
  row-gap: 1rem;
  margin-top: 1rem;
}
// .tabs {
//   padding: 1rem;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//   place-items: center;
//   li {
//     padding: 0.5rem;
//     border-radius: 0.3rem;
//     cursor: pointer;
//     width: fit-content;
//   }
//   font-size: 0.9rem;
//   font-weight: 300;
// }
.active {
  width: fit-content;
  background: rgb(233, 0, 0);
  color: white;
  transition: all 0.2s ease-in-out;
}
.recomm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
  &:nth-child(odd) {
    margin-right: 0.3rem;
  }
  &:nth-child(even) {
    margin-left: 0.3rem;
  }

  img {
    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.399);
    border: 1px solid #d3d3d3;
    border-radius: 0.2rem;
    width: 100%;
  }
  button {
    width: 100%;
    padding: 0.4rem;
    border: 1px solid #d3d3d3;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}
